<p id="notice"><%= notice %></p>

<h2 class="title"><%= "Categories" %></h2>

<div id="students_wrapper">
  <%= render @gbook.categories %>
  <div id="form">
    <%= render "categories/form" %>
  </div>
</div>

<%= link_to 'Home Page', gbook_path(@gbook) %>