<% if @gbook.students.size == 0 %>

<p>
	<%= link_to 'Add Students', gbook_students_path(@gbook) %>
<p>

<% else %>
	<%= "Students" %>
	<% @gbook.assignments.each do |assignment| %>
		<%= link_to "     " + assignment.name, gbook_assignment_path(@gbook,assignment) %>
	<% end %>
	<% @gbook.students.each do |student| %>
		<p> 
		<%= link_to student.name, gbook_student_path(@gbook,student)%>
		<% @gbook.assignments.each do |assignment| %>
			<% found = false %>
			<% student.grades.each do |grade| %> 
				<% if assignment.id == grade.assignment_id %>
					<% found = true %>
					<%= link_to grade.score.to_s, edit_gbook_assignment_student_grade_path(@gbook,assignment,student,grade) %> 
				<% end %>
			<% end %>
			<% if found == false %> 
				<%= link_to 'Add Score', new_gbook_assignment_student_grade_path(@gbook,assignment,student) %>
			<% end %>
		<% end %> 
	</p>
	<% end %>
	<br>
	<br>
	<p>
		<%= link_to 'Students', gbook_students_path(@gbook) %>
	<p>
	<p>
		<%= link_to 'Categories', gbook_categories_path(@gbook) %>
	<p>
	<p>
		<%= link_to 'Add Assignment', new_gbook_assignment_path(@gbook) %>
	<p>
	<p>
		<%= link_to 'View Assignments', gbook_assignments_path(@gbook) %>
	<p>
	<%= link_to 'Edit', edit_gbook_path(@gbook) %> |
	<%= link_to 'Back', gbooks_path %>
<% end %>