<p id="notice"><%= notice %></p>

<h2 class="todo_list_title"><%= "Students" %></h2>

<div id="students_wrapper">
  <%= render @gbook.students %>
  <div id="form">
    <%= render "students/form" %>
  </div>
</div>

<% if @gbook.categories.size == 0 %>
	<%= link_to 'Add Categories', gbook_categories_path(@gbook) %>
<% else %>
	<%= link_to 'Back', gbook_path(@gbook) %>
<% end %>