<p id="notice"><%= notice %></p>

<h1>Listing Assignments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Point total</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gbook.assignments.each do |assignment| %>
      <tr>
        <td><%= assignment.name %></td>
        <td><%= assignment.point_total %></td>
        <td><%= link_to 'Show', gbook_assignment_path(@gbook,assignment) %></td>
        <td><%= link_to 'Edit', edit_gbook_assignment_path(@gbook,assignment) %></td>
        <td><%= link_to 'Destroy', gbook_assignment_path(@gbook,assignment), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Assignment', new_gbook_assignment_path(@gbook,@assignment) %>
<%= link_to 'Back', gbook_path(@gbook) %>

